h1 {
  font-family: arial;
  color: dimgray;
}

canvas {
    width : 200 pt;
    height : 100 pt;
    margin : 10 px;
    border : 1 px solid lightgray;
}
input {
  font-size : 20 pt;
}
.some1{
  background-color : blue;
}
body {
  margin : 30 px;
}
